            <div class="bogo-header">
               <svg class="bogo-gift-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 12v10H4V12M2 7h20v5H2zM12 22V7M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7zM12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"/></svg>
               <p class="bogo-inline-title">Choose your item</p>
            </div>
            <div class="bogo-vertical-scroll">
              <div class="bogo-inline-card selected" onclick="selectBogo(this)">
                <div class="bogo-radio"></div>
                <input type="radio" name="free_gift" data-variant-id="{{ all_products['oil-to-foam-cleanser'].selected_or_first_available_variant.id }}" data-gift-handle="oil-to-foam-cleanser" style="display:none;" checked>
                <div class="bogo-img-box"><img src="{{ 'oil-to-foam-main.jpg' | asset_url }}" alt="Oil to Foam Cleanser"></div>
                <div class="bogo-inline-info">
                  <span class="bogo-inline-name">Oil to Foam Cleanser</span>
                  <div class="bogo-price-line"><span class="bogo-old-price">Rs. 2,820</span><span class="bogo-free-tag">FREE</span></div>
                </div>
              </div>
              <div class="bogo-inline-card" onclick="selectBogo(this)">
                <div class="bogo-radio"></div>
                <input type="radio" name="free_gift" data-variant-id="{{ all_products['renewal-cleanser'].selected_or_first_available_variant.id }}" data-gift-handle="renewal-cleanser" style="display:none;">
                <div class="bogo-img-box"><img src="{{ 'gel cleanser-100.jpg' | asset_url }}" alt="Gel Cleanser"></div>
                <div class="bogo-inline-info">
                  <span class="bogo-inline-name">Gel Cleanser</span>
                  <div class="bogo-price-line"><span class="bogo-old-price">Rs. 2,620</span><span class="bogo-free-tag">FREE</span></div>
                </div>
              </div>
              <div class="bogo-inline-card" onclick="selectBogo(this)">
                <div class="bogo-radio"></div>
                <input type="radio" name="free_gift" data-variant-id="{{ all_products['hair-regrow-spray'].selected_or_first_available_variant.id }}" data-gift-handle="hair-regrow-spray" style="display:none;">
                <div class="bogo-img-box"><img src="{{ 'hair-regrow-main.jpeg' | asset_url }}" alt="Hair Regrow Spray"></div>
                <div class="bogo-inline-info">
                  <span class="bogo-inline-name">Hair Regrow Spray</span>
                  <div class="bogo-price-line"><span class="bogo-old-price">Rs. 2,790</span><span class="bogo-free-tag">FREE</span></div>
                </div>
              </div>
              <div class="bogo-inline-card" onclick="selectBogo(this)">
                <div class="bogo-radio"></div>
                <input type="radio" name="free_gift" data-variant-id="{{ all_products['night-cream'].selected_or_first_available_variant.id }}" data-gift-handle="night-cream" style="display:none;">
                <div class="bogo-img-box"><img src="{{ 'night-cream.jpg' | asset_url }}" alt="Night Cream"></div>
                <div class="bogo-inline-info">
                  <span class="bogo-inline-name">Night Cream</span>
                  <div class="bogo-price-line"><span class="bogo-old-price">Rs. 2,675</span><span class="bogo-free-tag">FREE</span></div>
                </div>
              </div>
              <div class="bogo-inline-card" onclick="selectBogo(this)">
                <div class="bogo-radio"></div>
                <input type="radio" name="free_gift" data-variant-id="{{ all_products['tranexamic-serum'].selected_or_first_available_variant.id }}" data-gift-handle="tranexamic-serum" style="display:none;">
                <div class="bogo-img-box"><img src="{{ 'tranexamic-serum.jpg' | asset_url }}" alt="Tranexamic Serum"></div>
                <div class="bogo-inline-info">
                  <span class="bogo-inline-name">Tranexamic Serum</span>
                  <div class="bogo-price-line"><span class="bogo-old-price">Rs. 2,740</span><span class="bogo-free-tag">FREE</span></div>
                </div>
              </div>
              <div class="bogo-inline-card" onclick="selectBogo(this)">
                <div class="bogo-radio"></div>
                <input type="radio" name="free_gift" data-variant-id="{{ all_products['anti-frizz-keratin-serum'].selected_or_first_available_variant.id }}" data-gift-handle="anti-frizz-keratin-serum" style="display:none;">
                <div class="bogo-img-box"><img src="{{ 'keratin-serum.jpg' | asset_url }}" alt="Anti Frizz Keratin Serum"></div>
                <div class="bogo-inline-info">
                  <span class="bogo-inline-name">Anti Frizz Keratin Serum</span>
                  <div class="bogo-price-line"><span class="bogo-old-price">Rs. 2,680</span><span class="bogo-free-tag">FREE</span></div>
                </div>
              </div>
              <div class="bogo-inline-card" onclick="selectBogo(this)">
                <div class="bogo-radio"></div>
                <input type="radio" name="free_gift" data-variant-id="{{ all_products['e7-korean-glass-skin-centella-sunscreen-spf50-copy'].selected_or_first_available_variant.id }}" data-gift-handle="e7-korean-glass-skin-centella-sunscreen-spf50-copy" style="display:none;">
                <div class="bogo-img-box"><img src="{{ 'glow-serum-100.jpg' | asset_url }}" alt="Glow Serum"></div>
                <div class="bogo-inline-info">
                  <span class="bogo-inline-name">Glow Serum</span>
                  <div class="bogo-price-line"><span class="bogo-old-price">Rs. 2,645</span><span class="bogo-free-tag">FREE</span></div>
                </div>
              </div>
              <div class="bogo-inline-card" onclick="selectBogo(this)">
                <div class="bogo-radio"></div>
                <input type="radio" name="free_gift" data-variant-id="{{ all_products['glutathione-cream'].selected_or_first_available_variant.id }}" data-gift-handle="glutathione-cream" style="display:none;">
                <div class="bogo-img-box"><img src="{{ 'glutathione-cream-100.jpg' | asset_url }}" alt="Glutathione Cream"></div>
                <div class="bogo-inline-info">
                  <span class="bogo-inline-name">Glutathione Cream</span>
                  <div class="bogo-price-line"><span class="bogo-old-price">Rs. 2,640</span><span class="bogo-free-tag">FREE</span></div>
                </div>
              </div>
              <div class="bogo-inline-card" onclick="selectBogo(this)">
                <div class="bogo-radio"></div>
                <input type="radio" name="free_gift" data-variant-id="{{ all_products['floral-blossom-hair-mist'].selected_or_first_available_variant.id }}" data-gift-handle="floral-blossom-hair-mist" style="display:none;">
                <div class="bogo-img-box"><img src="{{ 'hair-mist.jpg' | asset_url }}" alt="Floral Blossom Hair Mist"></div>
                <div class="bogo-inline-info">
                  <span class="bogo-inline-name">Floral Blossom Hair Mist</span>
                  <div class="bogo-price-line"><span class="bogo-old-price">Rs. 2,960</span><span class="bogo-free-tag">FREE</span></div>
                </div>
              </div>
              <div class="bogo-inline-card" onclick="selectBogo(this)">
                <div class="bogo-radio"></div>
                <input type="radio" name="free_gift" data-variant-id="{{ all_products['e7-korean-glass-skin-centella-night-cream-copy'].selected_or_first_available_variant.id }}" data-gift-handle="e7-korean-glass-skin-centella-night-cream-copy" style="display:none;">
                <div class="bogo-img-box"><img src="{{ 'facewash-100.jpg' | asset_url }}" alt="Face Wash"></div>
                <div class="bogo-inline-info">
                  <span class="bogo-inline-name">Face Wash</span>
                  <div class="bogo-price-line"><span class="bogo-old-price">Rs. 2,620</span><span class="bogo-free-tag">FREE</span></div>
                </div>
              </div>
              <div class="bogo-inline-card" onclick="selectBogo(this)">
                <div class="bogo-radio"></div>
                <input type="radio" name="free_gift" data-variant-id="{{ all_products['anti-acne'].selected_or_first_available_variant.id }}" data-gift-handle="anti-acne" style="display:none;">
                <div class="bogo-img-box"><img src="{{ 'anti-acne-100.jpg' | asset_url }}" alt="Anti Acne"></div>
                <div class="bogo-inline-info">
                  <span class="bogo-inline-name">Anti Acne</span>
                  <div class="bogo-price-line"><span class="bogo-old-price">Rs. 2,755</span><span class="bogo-free-tag">FREE</span></div>
                </div>
              </div>
              <div class="bogo-inline-card" onclick="selectBogo(this)">
                <div class="bogo-radio"></div>
                <input type="radio" name="free_gift" data-variant-id="{{ all_products['e7-korean-glass-skin-centella-face-wash-copy'].selected_or_first_available_variant.id }}" data-gift-handle="e7-korean-glass-skin-centella-face-wash-copy" style="display:none;">
                <div class="bogo-img-box"><img src="{{ 'sunscreen-100.jpg' | asset_url }}" alt="Sunscreen SPF60+"></div>
                <div class="bogo-inline-info">
                  <span class="bogo-inline-name">Sunscreen SPF60+</span>
                  <div class="bogo-price-line"><span class="bogo-old-price">Rs. 2,735</span><span class="bogo-free-tag">FREE</span></div>
                </div>
              </div>
              <div class="bogo-inline-card" onclick="selectBogo(this)">
                <div class="bogo-radio"></div>
                <input type="radio" name="free_gift" data-variant-id="{{ all_products['renewal-toner'].selected_or_first_available_variant.id }}" data-gift-handle="renewal-toner" style="display:none;">
                <div class="bogo-img-box"><img src="{{ 'toner1.jpeg' | asset_url }}" alt="Renewal Toner"></div>
                <div class="bogo-inline-info">
                  <span class="bogo-inline-name">Renewal Toner</span>
                  <div class="bogo-price-line"><span class="bogo-old-price">Rs. 2,780</span><span class="bogo-free-tag">FREE</span></div>
                </div>
              </div>
              <div class="bogo-inline-card" onclick="selectBogo(this)">
                <div class="bogo-radio"></div>
                <input type="radio" name="free_gift" data-variant-id="{{ all_products['centella-moisturizer'].selected_or_first_available_variant.id }}" data-gift-handle="centella-moisturizer" style="display:none;">
                <div class="bogo-img-box"><img src="{{ 'moisturizer-100.jpg' | asset_url }}" alt="Hydra Burst Moisturizer"></div>
                <div class="bogo-inline-info">
                  <span class="bogo-inline-name">Hydra Burst Moisturizer</span>
                  <div class="bogo-price-line"><span class="bogo-old-price">Rs. 2,680</span><span class="bogo-free-tag">FREE</span></div>
                </div>
              </div>
              <div class="bogo-inline-card" onclick="selectBogo(this)">
                <div class="bogo-radio"></div>
                <input type="radio" name="free_gift" data-variant-id="{{ all_products['skin-refining-toner'].selected_or_first_available_variant.id }}" data-gift-handle="skin-refining-toner" style="display:none;">
                <div class="bogo-img-box"><img src="{{ 'skin-refining-toner-main.jpeg' | asset_url }}" alt="Skin Refining Toner"></div>
                <div class="bogo-inline-info">
                  <span class="bogo-inline-name">Skin Refining Toner</span>
                  <div class="bogo-price-line"><span class="bogo-old-price">Rs. 2,780</span><span class="bogo-free-tag">FREE</span></div>
                </div>
              </div>
            </div>
